<!DOCTYPE html>
<html>
<head>
    <%-include('layout/head', {title : 'Trang Chủ'})%>
</head>
<body>

<!--	Header	-->
    <%-include('layout/header')%>
<!--	End Header	-->

<!--	Body	-->
<div id="body">
	<div class="container">
    	<%-include('layout/menu')%>
        <div class="row">
        	<div id="main" class="col-lg-8 col-md-12 col-sm-12">
            	<!--	Slider	-->
                <%-include('layout/slider')%>
                <!--	End Slider	-->
                
                 <!--	Feature Product	-->
                 <div class="products">
                    <h3>Sản phẩm nổi bật</h3>
                    <div class="product-list card-deck">
                        <%for( product of FeaturedProducts ){ %>
                            <%- include("components/product-item", {product : product})%>
                        <% } %>
                    </div>
                </div>
                <!--	End Feature Product	-->
                
                
                <!--	Latest Product	-->
                <div class="products">
                    <h3>Sản phẩm mới</h3>
                    <div class="product-list card-deck">
                        <%for(product of LatestProducts ){ %>
                            <%- include("./components/product-item", {product : product})%>
                        <% } %>
                    </div>
                    
                </div>
                <!--	End Latest Product	-->
                
            </div>
            <%-include('layout/sidebar')%>
            
        </div>
    </div>
</div>
<!--	End Body	-->

<!--	Footer	-->
    <%-include('layout/footer')%>
<!--	End Footer	-->













</body>
</html>
