<!DOCTYPE html>
<html>
<head>

<%- include("layout/head.ejs", {title:"Sản Phẩm"}) %>
<link rel="stylesheet" href="/static/site/css/product.css">
</head>
<body>

<!--	Header	-->
<%- include("layout/header.ejs") %>
<!--	End Header	-->

<!--	Body	-->
<div id="body">
	<div class="container">
    	<div class="row">
        	<div class="col-lg-12 col-md-12 col-sm-12">
            	<%- include("layout/menu.ejs") %>
            </div>
        </div>
        <div class="row">
        	<div id="main" class="col-lg-8 col-md-12 col-sm-12">
            	<!--	Slider	-->
                <%- include("layout/slider.ejs") %>
                <!--	End Slider	-->
                
                <!--	List Product	-->
                <div id="product">
                	<div id="product-head" class="row">
                    	<div id="product-img" class="col-lg-6 col-md-6 col-sm-12">
                        	<img src="/static/images/<%=product.thumbnail%>">
                        </div>
                        <div id="product-details" class="col-lg-6 col-md-6 col-sm-12">
                        	<h1><%=product.name%></h1>
                            <ul>
                            	<li><span>Bảo hành:</span> <%=product.warranty%></li>
                                <li><span>Đi kèm:</span> <%=product.accessories%></li>
                                <li><span>Tình trạng:</span> <%=product.status%></li>
                                <li><span>Khuyến Mại:</span> <%=product.promotion%></li>
                                <li id="price">Giá Bán (chưa bao gồm VAT)</li>
                                <li id="price-number"><%=product.price.toLocaleString("vi-VN")%> đ</li>
                                
                                <%if(product.is_stock){%>
                                    <li id="status">Còn hàng</li>
                                <%}else{%>
                                    <li id="status" class="text text-danger">Hết Hàng</li>
                                <%}%>
                            </ul>
                            <%if(product.is_stock){%>
                                <form method="post" action="/add-to-cart">
                                    <input type="hidden" name="id" value="<%=product.id%>">
                                    <div class="form-row align-items-center">
                                        <div class="col-sm-3 my-1">
                                            <div class="input-group">
                                                <input type="number" class="form-control" min="1" value="1" name="qty" id="quantity" placeholder="Số lượng">
                                            </div>
                                        </div>
                                        <div class="col-auto my-1">
                                            <button type="submit"  class="btn btn-primary">Thêm vào giỏ hàng</button>
                                        </div>
                                    </div>
                                </form>
                            <%}%>
                        </div>
                    </div>
                    <div id="product-body" class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <h3>Đánh giá về <%=product.name%></h3>
                            <p>
                                Màn hình OLED có hỗ trợ HDR là một sự nâng cấp mới của Apple thay vì màn hình LCD với IPS được tìm thấy trên iPhone 8 và iPhone 8 Plus đem đến tỉ lệ tương phản cao hơn đáng kể là 1.000.000: 1, so với 1.300: 1 ( iPhone 8 Plus ) và 1.400: 1 ( iPhone 8 ).
                            </p>
                            <p>
                                Màn hình OLED mà Apple đang gọi màn hình Super Retina HD có thể hiển thị tông màu đen sâu hơn. Điều này được thực hiện bằng cách tắt các điểm ảnh được hiển thị màu đen còn màn hình LCD thông thường, những điểm ảnh đó được giữ lại. Không những thế, màn hình OLED có thể tiết kiệm pin đáng kể.
                            </p>
                            <p>
                                Cả ba mẫu iPhone mới đều có camera sau 12MP và 7MP cho camera trước, nhưng chỉ iPhone X và iPhone 8 Plus có thêm một cảm biến cho camera sau. Camera kép trên máy như thường lệ: một góc rộng và một tele. Vậy Apple đã tích hợp những gì vào camera của iPhone X?
                            </p>
                            <p>
                                Chống rung quang học (OIS) là một trong những tính năng được nhiều hãng điện thoại trên thế giới áp dụng. Đối với iPhone X, hãng tích hợp chống rung này cho cả hai camera, không như IPhone 8 Plus chỉ có OIS trên camera góc rộng nên camera tele vẫn rung và chất lượng bức hình không đảm bảo.
                            </p>
                            <p>
                                Thứ hai, ống kính tele của iPhone 8 Plus có khẩu độ f / 2.8, trong khi iPhone X có ống kính tele f / 2.2, tạo ra một đường cong nhẹ và có thể chụp thiếu sáng tốt hơn với ống kính tele trên iPhone X.
                            </p>
                            <p>
                                Portrait Mode là tính năng chụp ảnh xóa phông trước đây chỉ có với camera sau của iPhone 7 Plus, hiện được tích hợp trên cả iPhone 8 Plus và iPhone X. Tuy nhiên, nhờ sức mạnh của cảm biến trên mặt trước của iPhone X, Camera TrueDepth cũng có thể chụp với Potrait mode.
                            </p>
                        </div>
                    </div>
                    
                    <!--	Comment	-->
                    <div id="comment" class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <h3>Bình luận sản phẩm</h3>
                            <form method="post">
                                <div class="form-group">
                                    <label>Tên:</label>
                                    <input name="full_name" required type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Email:</label>
                                    <input name="email" required type="email" class="form-control" id="pwd">
                                </div>
                                <div class="form-group">
                                    <label>Nội dung:</label>
                                    <textarea name="body" required rows="8" class="form-control"></textarea>     
                                </div>
                                <button type="submit" name="sbm" class="btn btn-primary">Gửi</button>
                            </form> 
                        </div>
                    </div>
                    <!--	End Comment	-->  
                    
                    <!--	Comments List	-->
                    <div id="comments-list" class="row">
                    	<div class="col-lg-12 col-md-12 col-sm-12">
                            <%for(cmt of comments){%>
                                <%- include("components/product-comment", {comment : cmt})%>
                            <%}%>
                        </div>
                    </div>
                    <!--	End Comments List	-->
                </div>
                <!--	End Product	--> 
                <div id="pagination">
                    <ul class="pagination">
                        <%if(page > 1){%>
                            <li class="page-item"><a class="page-link" href="/product-<%=slug%>.<%=id%>?page=<%=page-1%>">&laquo;</a></li>
                        <%}%>
                        <%for(x in pages){%>
                            <%if(pages[x] ==="..."){%>
                                <li class="page-item"><a class="page-link" onclick="return false;" href=""><%=pages[x]%></a></li>
                            <%} else {%>
                                <li class="page-item <%= pages[x] == page? 'active' : '' %>"><a class="page-link" href="/product-<%=slug%>.<%=id%>?page=<%=pages[x]%>"><%=pages[x]%></a></li>
                            <%}%>
                            
                            
                        <%}%>
                        <%if(page < totalPage){%>
                            <li class="page-item"><a class="page-link" href="/product-<%=slug%>.<%=id%>?page=<%=page+1%>">&raquo;</a></li>
                        <%}%>
                        
                    </ul> 
                </div>               
            </div>
            
            <%- include("layout/sidebar.ejs") %>
        </div>
    </div>
</div>
<!--	End Body	-->

<%- include("layout/footer.ejs") %>
<!--	End Footer	-->
</body>
</html>
